body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    padding: 16px 60px;  
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}